My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4c0c445b-f8f8-4fcd-b303-00312546c532",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/runs?token=apify_api_12345",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "8d228fda-ce47-4781-85fb-d0b4fa76ad98",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "5fe98586-4e5f-4a06-8d8c-82d6dd79208f",
      "name": "Wait",
      "webhookId": "9cef9d8c-ff5b-4565-b7b8-404635d774e4"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      username: \"ai_founder_01\",\n      biography: \"AI automation agency helping startups\",\n      score:8\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "cdd2e93b-8738-4b5c-a881-76bb7d679739",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const d = items[0].json;\nlet score = 0;\n\nif (d.followersCount > 500) score += 2;\nif (d.followersCount > 1000) score += 3;\n\nconst engagement = (d.likesAvg / d.followersCount) * 100;\nif (engagement > 2) score += 3;\n\nif (d.biography.toLowerCase().includes(\"ai\")) score += 2;\n\nreturn [{ json: { ...d, score } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        16
      ],
      "id": "531fcbb0-3806-4422-82dc-20ce6e4bf050",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10Sn3Pa90ujFv-qjNAGlH1W17wfhDD5YBfq8vTXp0u_U",
          "mode": "list",
          "cachedResultName": "work",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10Sn3Pa90ujFv-qjNAGlH1W17wfhDD5YBfq8vTXp0u_U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10Sn3Pa90ujFv-qjNAGlH1W17wfhDD5YBfq8vTXp0u_U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{$json.username}}",
            "bio": "={{$json.biography}}",
            "score": "={{$json.score}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followed",
              "displayName": "followed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dm_sent",
              "displayName": "dm_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        16
      ],
      "id": "8069701e-ee77-4c9f-9d0a-e6ce0a42bcbc",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LFLbEiiiOoQgszgZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a SHORT Instagram DM (max 2 sentences) for an AI agency reaching out to {{$json.bio}}. Keep it casual, human, and no subject line.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1056,
        16
      ],
      "id": "1fbfa9fe-7f59-4e95-9b35-dfc70fc4eccd",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      dm: $json.choices[0].message.content\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        16
      ],
      "id": "ae39eda8-7bf4-4df0-9dbb-8272a63a2647",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10Sn3Pa90ujFv-qjNAGlH1W17wfhDD5YBfq8vTXp0u_U",
          "mode": "list",
          "cachedResultName": "work",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10Sn3Pa90ujFv-qjNAGlH1W17wfhDD5YBfq8vTXp0u_U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10Sn3Pa90ujFv-qjNAGlH1W17wfhDD5YBfq8vTXp0u_U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{$node[\"Code in JavaScript1\"].json.username}}",
            "bio": "={{$node[\"Code in JavaScript1\"].json.biography}}",
            "score": "={{$node[\"Code in JavaScript1\"].json.score}}",
            "dm_message": "={{$json.dm}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followed",
              "displayName": "followed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dm_sent",
              "displayName": "dm_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dm_message",
              "displayName": "dm_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        32
      ],
      "id": "9a31c8af-0482-460a-ad26-c6221ab5a80b",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LFLbEiiiOoQgszgZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1280,
        32
      ],
      "id": "000bfa44-bb5f-444d-a5e4-8d90a21b8df3",
      "name": "Wait1",
      "webhookId": "cc91c40c-e2c1-4374-b662-9e8bc42deb92"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a follow-up DM (max 2 sentences) for someone who didn’t reply. Bio: {{$json.bio}}. Make it polite, not pushy.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1376,
        32
      ],
      "id": "d91b7e8f-fa1b-4051-ab30-04c050347189",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dbc1c196-4da0-4de9-af91-ad2965935902",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5737cb8814fe59c0b3b03f12b3428f613602a57284adecde79ac6e796dbad604"
  },
  "id": "i4aBXNQJDM9EQBUA",
  "tags": []
}